body{
  background-image: linear-gradient(to left, brown, yellow);
}

.calc-grid{
  display:grid;
  justify-content:center;
  align-content:center;
  grid-template-columns:repeat(4, 80px);
  grid-template-rows:minmax(120px, auto) repeat(5, 80px);
  min-height:100vh;
}
.calc-grid > button{
  border:3px solid rgba(255, 255, 255, .80);
  font-size:1.5em;
  font-weight:700;
  background-color:rgba(255,255, 255, .60);
  cursor:pointer;
 
}

.calc-grid > button:hover{
  background-color:rgba(255,255, 255, .75);
}

.output{
  grid-column:1/-1;
  background-color:rgba(0, 0, 0, .60);
  font-size:1.5em;
  color:#fff;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content:space-between;
  padding:12px;
}

.current-operand{
  font-size:1.5em;
  word-break:break-all;
 
}
.previous-operand{
word-break:break-all;
}
.two-span{
  grid-column:span 2;
}

